<h1>Goodbye!</h1>
<p>
  It was nice having you here.
  <%= link_to "Hello", say_hello_path %> again.  
</p>
<!-- br tags are bad but I'm just lazy right now -->
<p>
  Playtime: <br>
  Addition: 427 + 83 = <%= 427 + 83 %> <br>
  Concatenation: cow + boy = <%= "cow" + "boy" %> <br>
  Time in one hour: <%= 1.hour.from_now.localtime%>
</p>

<p>
  All files in the current directory: <br>
  <ul>
    <% for file in @files %>
    <li> file name is: <%= file %> </li>
    <% end %>
  </ul>
</p>
